<div class="output">
        <div class="chosen-font">
          <span class="chosen-header" style="font-family: {{font}}">
          <h2>This is a header in your chosen font, {{font}}</h2>
          </span>
          <span class="paired-para" style="font-family: {{fontPairing}}">
          <p>This is paragraph in your paired font, {{fontPairing}}. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus volutpat a orci et hendrerit. In nunc justo, tincidunt eu turpis quis, luctus rutrum neque.
            Pellentesque dignissim, elit ut sollicitudin maximus, enim sapien tristique justo, id cursus
            risus orci nec dui. Quisque vestibulum eros ut metus convallis, eget auctor massa interdum. </p>
          </span>
        </div>
        <div class="paired-font">
          <span class="paired-header" style="font-family: {{fontPairing}}">
          <h2>This is a header in your paired font, {{fontPairing}}</h2>
          </span>
          <span class="chosen-para" style="font-family: {{font}}">
          <p>This is paragraph in your chosen font, {{font}}. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus volutpat a orci et hendrerit. In nunc justo, tincidunt eu turpis quis, luctus rutrum neque.
            Pellentesque dignissim, elit ut sollicitudin maximus, enim sapien tristique justo, id cursus
            risus orci nec dui. Quisque vestibulum eros ut metus convallis, eget auctor massa interdum. </p>
          </span>
        </div>
        <div class="doggo" style="font-family: {{fontPairing}}">
        <h3> Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz
                The quick brown fox jumps over the lazy dog
        </h3>
        </div>
</div>
